name: Check

on:
  push:
    branches:
      - main
      - feat/workflow
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Get Numerical Version Number
        shell: bash
        id: versionNumber
        run: echo ::set-output name=tag::${GITHUB_REF/refs\/tags\/v/}

      - name: Checkout
        uses: actions/checkout@v2.0.0
        with:
          lfs: true

      - name: Version Number Substitution
        uses: Mudlet/xmlstarlet-action@master
        with:
          args: ed --inplace -N x="http://ns.adobe.com/air/application/32.0" -u "/x:application/x:versionNumber" -v ${{ steps.versionNumber.outputs.tag }} application.xml

      - name: Cache Air SDK
        id: cache-air-sdk
        uses: actions/cache@v1
        with:
          path: ${{ github.workspace }}\airsdk
          key: ${{ runner.os }}-air-sdk

      - name: Download Air Windows
        if: matrix.os == 'windows-latest' && steps.cache-air-sdk.outputs.cache-hit != 'true'
        run: |
          $ProgressPreference = 'SilentlyContinue';
          (irm -Uri "http://airdownload.adobe.com/air/win/download/latest/AIRSDK_Compiler.zip" -ContentType "application/octet-stream" -OutFile "air-sdk.zip")
      
      - name: extract-7z-action
        if: matrix.os == 'windows-latest' && steps.cache-air-sdk.outputs.cache-hit != 'true'
        uses: DuckSoft/extract-7z-action@v1.0
        with:
          # archive path to extract
          pathSource: air-sdk.zip
          # path to place the extract
          pathTarget: ${{ github.workspace }}\airsdk
   
      - name: Fix Air SDK Target
        uses: cschleiden/replace-tokens@v1
        with:
          files: '["./airsdk/frameworks/flex-config.xml"]'
          tokenPrefix: '{'
          tokenSuffix: '}'
        env:
          targetPlayerMinorVersion: 0
          targetPlayerMajorVersion: 32

      - name: Install Dependencies
        run: npm install asconfigc

      - name: Build Embedded Fonts Library (Windows)
        if: matrix.os == 'windows-latest'
        shell: cmd
        run: ${{ github.workspace }}\node_modules\.bin\asconfigc.cmd --sdk ${{ github.workspace }}\airsdk --project ${{ github.workspace }}/fonts/asconfig.embed-fonts.json --verbose

      - name: Build the Game (Windows)
        if: matrix.os == 'windows-latest'
        shell: cmd
        run: ${{ github.workspace }}\node_modules\.bin\asconfigc.cmd --sdk ${{ github.workspace }}\airsdk --project asconfig.json --debug=false --verbose
